---
interface Props {
  speaker: string;
}

const { speaker } = Astro.props;
---
<div class="my-6">
  <p class="font-bold text-gray-700 mb-2">WSJ: {speaker}</p>
  <blockquote class="pl-4 border-l-4 border-gray-300 italic">
    <slot />
  </blockquote>
</div>